<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>About Me | Profil Diri</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="index.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="gallery.html">Gallery</a>
</nav>

<h1>About Me</h1>

<h2>Riwayat Pendidikan</h2>
<table>
    <tr>
        <th>Tahun</th>
        <th>Institusi</th>
        <th>Jurusan</th>
    </tr>
    <tr>
        <td>2025 - Sekarang</td>
        <td>STT Nurul Fikri</td>
        <td>Teknik Informatika</td>
    </tr>
    <tr>
        <td>2022 - 2025</td>
        <td>SMK Pusaka 1 Jakarta</td>
        <td>DKV</td>
    </tr>
</table>

<h2>Riwayat Organisasi</h2>
<table>
    <tr>
        <th>Tahun</th>
        <th>Organisasi</th>
        <th>Jabatan</th>
    </tr>
    <tr>
        <td> 2024 - sekarang</td>
        <td> Teater UI</td>
        <td> CC </td>
    </tr>
    <tr>
        <td>(-)</td>
        <td>(-)</td>
        <td>(-)</td>
    </tr>
</table>

</body>
</html>
