<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Gallery | Profil Diri</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="index.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="gallery.html">Gallery</a>
</nav>

<h1>Gallery Kegiatan</h1>

<div class="gallery">
    <img src="../static/img/foto1.jpeg" alt="Kegiatan 1">
    <img src="../static/img/foto2.jpeg" alt="Kegiatan 2">
    <img src="../static/img/foto3.jpeg" alt="Kegiatan 3">
</div>

</body>
</html>
