<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Home | Profil Diri</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="home.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="gallery.html">Gallery</a>
</nav>

<h1>Profil Diri</h1>
<p>
    Halo, nama saya <b>Alfath</b>. Saya adalah mahasiswa yang memiliki
    minat di bidang teknologi informasi dan pengembangan web.
    Website ini dibuat sebagai tugas aplikasi web statis sederhana.
</p>

</body>
</html>
