<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Home | Profil Diri</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="index.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="gallery.html">Gallery</a>
</nav>

<h1>Profil Diri</h1>
<p>
    Halo, nama saya <b>Alfath Dio A</b>. Saya adalah seorang mahasiswa yang tertarik
    pada bidang teknologi informasi dan suka bermusik.
</p>

</body>
</html>
